.Rproj.user
.Rhistory
.RData
.Ruserdata

.idea
.ipynb_checkpoints

*~
.DS_Store
.sass-cache
themes/tranquilpeak/assets
themes/tranquilpeak/node_modules
themes/tranquilpeak/src/_bower_components
themes/tranquilpeak/static/js/*
!themes/tranquilpeak/static/js/script-*.min.js
themes/tranquilpeak/static/css/*
!themes/tranquilpeak/static/css/style-*.min.css
