<blockquote class="pullquote {{ .Get 0 }}">
	<p>{{ .Inner | markdownify}}</p>
  {{ if ge (len .Params) 2 }}
  <footer>
    {{ if ge (len .Params) 3 }}
      <cite><a href="{{ .Get 1 }}" target="_blank" rel="external">{{ .Get 2 }}</a></cite>
    {{ else }}
      {{ if (findRE "https?://" (.Get 1)) }}
        <cite><a href="{{ .Get 1 }}" target="_blank" rel="external">{{ .Get 1 }}</a></cite>
      {{ else }}
        <cite>{{ .Get 1 }}</cite>
      {{ end }}
    {{ end }}
  </footer>
  {{end}}
</blockquote>