/*#body .nav-tabs {
position: unset;
width: unset;
}

.tab-content > .tab-pane {
display: none;
}

.tab-pane {
padding: 3px 0px;
}

.tab-pane {
padding: 3px 0px;
}

.tab-content > .active {
display: block;
}


.nav-tabs {
color: #0f0f0f;
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
}

.nav-tabs > li {
color: #0f0f0f;
float: left;
}

.nav-tabs > li > a {
display: block;
padding: 5px 10px;
font-size: 14px;
}

pre {
display: none;
padding: 9.5px;
margin: 10px 0px 10px;
line-height: 1;
}

.code-tabs {
margin: 10px 0px 0px 00px;
}

.nav-tabs > li.active > a, .nav-tabs > li > a:hover {
color: #000 !important;
background: transparent;
}



.tabs-inner .section:first-child {
  border-top: 0 solid #dddddd;
}
.tabs-inner .section:first-child ul {
  margin-top: -1px;
  border-top: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
}
*/

/*.node {
    success: #4dc657;
    danger:  #f5311d;
    primary: #349ef3;
    purple:  #cf6ae0;
    base:    #285e80;
    warning: #f5aa0a;
    light:   #8bc9f0;
    light:   #317caf;
    hover:   #6b0000;
    dark:    #1f445c;
    link:    #349ef3
}*/



/*#body */

/* Style the tab */
.tab {
  overflow: hidden;
  border-bottom: 1px solid #ccc;
  background-color: #fff;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: #ccc;
  float: left;
  border: 1px solid #ccc;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.3em;
  outline: none;
  cursor: pointer;
  margin: 0 0.5em 0 0;
  padding: 0.8em 1em;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #dddddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #fff;
  border: 1px solid #000;
}

/* Style the tab content */
/*.tabcontent {
  overflow: block;
  display: none;
  height: 100%;
  width: 100%;
  padding: 6px 12px;
  border: 1px solid #ddd;
}
*/
.tabcontent {
  display: none;
  padding: 0.3em 1em;
  border: 1px solid #ccc;
  border-top: none;
}

/*.active {
  display:block;
}
*/

/* Style the aside */
aside {
  padding : 0.2em 0.5em;
  margin: 0.3em 0.5em;
  font-style: italic;
  border-radius: 0.5em;
}

/* Style the captions*/

caption { 
  display: table-caption;
  text-align: center;
  caption-side: top;
}

