<style>


.collapsible {
  background-color: lightblue;
  color: #ebebeb;
  cursor: pointer;
  padding: .5em;
  width: 100%;
  border: none;
  border-radius: 0.5em 0.2em;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: skyblue;
}

.collapsible:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.content {
  display: none;
  width: inherit;
  padding: .5em;
  text-align: left;
  background-color: #f1f1f1;;
  margin: 0.1rem .2em ;
}

</style>

{{- $tag := .Get 0 | default "tagthis" }}
{{- $title := .Get 1 | default "Title" }}
{{- $condstate := .Get 2 | default "none" }}

{{ if (isset $condstate "block")}}
<style>
.content {
  display: block;
  width: inherit;
  padding: .5em;
  text-align: left;
  background-color: #f1f1f1;;
  margin: 0.1rem .2em ;
}

</style>
{{ end }}

{{- $clickevent := printf "expander(this, '%s')" $tag | safeJS -}} 

<button class="collapsible" onclick= {{$clickevent}} >{{ $title }}</button>
<div id="{{$tag}}" class="content">
  {{.Inner | safeJS | safeHTML}}
</div>


<script>
function expander(elemnt,id) {
  console.log(elemnt);
  elemnt.classList.toggle("active");
  var content = document.getElementById(id);
  console.log(content);
  if (content.style.display === "block") {
    content.style.display = "none";
  } else {
    content.style.display = "block";
  }
}
</script>