{{if .Site.Params.IsImage }}
  {{ with .Site.Params.coverImage }}
    {{ if (in . "://") }}
      <div id="cover" style="background-image:url('{{ . | absURL }}');"></div>
    {{ else }}
      {{ if (fileExists (printf "static/images/%s" .)) }}
        {{ $cover := (printf "images/%s" .) }}
        <div id="cover" style="background-image:url('{{ $cover | absURL }}');"></div>
      {{ else }}
        <div id="cover" style="background-image:url('{{ . | absURL }}');"></div>
      {{ end }}
    {{ end }}
  
  {{ end }}
{{ else }}
  {{/* Drawing the sketches form the js. Will make this optionable*/}}
  {{$drawsketch := .Site.Params.coverImage}}
  <script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
  <div id="{{$drawsketch}}"> 
    <link href="/css/sketch.css" rel="stylesheet" /> 
      {{ partial "sketchit.html"}}
  </div>

{{ end }}
