<!--EXTERNAL SCRIPTS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
{{ if eq .Site.Params.syntaxHighlighter "highlight.js" }}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js" integrity="sha256-/BfiIkHlHoVihZdc6TFuj7MmJ0TWcWsMXkeDFwhi0zw=" crossorigin="anonymous"></script>
{{ else if eq .Site.Params.syntaxHighlighter "prism.js" }}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.8.3/prism.min.js" integrity="sha256-haEv2ilTk2sXcJaGbkTtErRCHy/qGt3g+bGbgPf5OTY=" crossorigin="anonymous"></script>
{{ end }}

<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.7/js/jquery.fancybox.min.js" integrity="sha256-GEAnjcTqVP+vBp3SSc8bEDQqvWAZMiHyUSIorrWwH50=" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/particles.js/2.0.0/particles.min.js" integrity="sha256-+u54FaX9J+k40eAcg5K2YzICSQjrEYBI9gju5nE3HfY=" crossorigin="anonymous"></script>

<!--EXTERNAL SCRIPTS END-->
<!--SCRIPTS-->
<script src="/js/script-i7rusoqrfjbjitmdmwmdae2gf22hteff1uq0rdnkouu4mwyqm3dmiyksdrp.min.js"></script>
<!--SCRIPTS END-->
{{ range .Site.Params.customJS }}
  {{ if isset . "src" }}
    <script{{ range $key, $value := . }} {{ if eq $key "src" }}{{ (printf "%s=\"%s\"" $key ($value | absURL)) | safeHTMLAttr }}{{ else if and (in "async defer" $key) }}{{ if $value }}{{ (printf "%s" $key) | safeHTMLAttr }}{{ end }}{{ else }}{{ (printf "%s=\"%s\"" $key (string $value)) | safeHTMLAttr }}{{ end }}{{ end }}></script>
  {{ else }}
    <script src="{{ . | absURL }}"></script>
  {{ end }}
{{ end }}

<script lang="javascript">
  window.onload = updateMinWidth;
  window.onresize = updateMinWidth;
  document.getElementById("sidebar").addEventListener("transitionend", updateMinWidth);
  function updateMinWidth() {
    var sidebar = document.getElementById("sidebar");
    var main = document.getElementById("main");
    main.style.minWidth = "";
    var w1 = getComputedStyle(main).getPropertyValue("min-width");
    var w2 = getComputedStyle(sidebar).getPropertyValue("width");
    var w3 = getComputedStyle(sidebar).getPropertyValue("left");
    main.style.minWidth = `calc(${w1} - ${w2} - ${w3})`;
  }
</script>

{{ if eq .Site.Params.syntaxHighlighter "highlight.js" }}
<script lang="javascript">
    hljs.registerLanguage("r",function(e){
      var r="([a-zA-Z]|\\.[a-zA-Z.])[a-zA-Z0-9._]*";
      return{c:[e.HCM,{b:r,l:r,k:{
        literal:"NULL NA TRUE FALSE T F Inf NaN NA_integer_|10 NA_real_|10 NA_character_|10 NA_complex_|10",
        keyword:"function if in break next repeat else for return switch while try tryCatch stop warning require library attach detach source setMethod setGeneric setGroupGeneric setClass c print ..." +
        // Builtin constants
        'LETTERS letters month.abb month.name pi T F ' +
        // Primitive functions
        // These are all the functions in `base` that are implemented as a
        // `.Primitive`, minus those functions that are also keywords.
        'abs acos acosh all any anyNA Arg as.call as.character ' +
        'as.complex as.double as.environment as.integer as.logical as.data.frame ' +
        'as.null.default as.numeric as.raw asin asinh atan atanh attr ' +
        'attributes baseenv browser c call ceiling class Conj cos cosh ' +
        'cospi cummax cummin cumprod cumsum digamma dim dimnames ' +
        'emptyenv exp expression floor forceAndCall gamma gc.time ' +
        'globalenv Im interactive invisible is.array is.atomic is.call ' +
        'is.character is.complex is.double is.environment is.expression ' +
        'is.finite is.function is.infinite is.integer is.language ' +
        'is.list is.logical is.matrix is.na is.name is.nan is.null ' +
        'is.numeric is.object is.pairlist is.raw is.recursive is.single ' +
        'is.symbol lazyLoadDBfetch length lgamma list log max min ' +
        'missing Mod names nargs nzchar oldClass on.exit pos.to.env ' +
        'proc.time prod quote range Re rep retracemem return round ' +
        'seq_along seq_len seq.int sign signif sin sinh sinpi sqrt ' +
        'standardGeneric substitute sum switch tan tanh tanpi tracemem ' +
        'trigamma trunc unclass untracemem UseMethod xtfrm'},r:0},
      {cN:"number",b:"0[xX][0-9a-fA-F]+[Li]?\\b",r:0},
      {cN:"number",b:"\\d+(?:[eE][+\\-]?\\d*)?L\\b",r:0},
      {cN:"number",b:"\\d+\\.(?!\\d)(?:i\\b)?",r:0},
      {cN:"number",b:"\\d+(?:\\.\\d*)?(?:[eE][+\\-]?\\d*)?i?\\b",r:0},
      {cN:"number",b:"\\.\\d+(?:[eE][+\\-]?\\d*)?i?\\b",r:0},{b:"`",e:"`",r:0},
      {cN:"string",c:[e.BE],v:[{b:'"',e:'"'},{b:"'",e:"'"}]},
      {cN: "keyword", b: /(^|\s*)(:::?|\.)\w+(?=\(|$)/},
      {cN: "meta",b: /(^|\s*)\w+(?=:::?|$)/,r: 0 },
      // Pipe operator
      {cN: "meta", b: "%>%", r: 0},
      // Function parameters with good style as 'variable' + 'space' + '=' + 'space'
      {cN: "meta", b: "([a-zA-Z]|\\.[a-zA-Z.])[a-zA-Z0-9._]*\\s+=\\s+", r: 0},
      // Assign operator with good style
      {cN: "meta", b: " <- ", r: 0},
      //Formula
      {cN: "meta", b: "~", r: 0},
      {cN: "meta", b: "=", r: 0},
      // Adding to class 'keyword' the explicit use of function's package
      {cN: "keyword", b: "([a-zA-Z]|\\.[a-zA-Z.])[a-zA-Z0-9._]*::", r: 0},
      // Class for basic dplyr words with their scoped variants
      // Not included in this site highlighting rules
      {cN: "keyword", b: "tibble|mutate|select|filter|summari[sz]e|arrange|group_by|nest_by|rowwise|left_join", 
        e: "[a-zA-Z0-9._]*", r: 0}
   

    ]}});

    hljs.initHighlightingOnLoad();
 </script>
  <script>
  $(document).ready(function() {
    hljs.configure({ classPrefix: '', useBR: false });
    $('pre.code-highlight > code, pre > code').each(function(i, block) {
      if (!$(this).hasClass('codeblock')) {
        $(this).addClass('codeblock');
      }
      hljs.highlightBlock(block);
    });
  });
  </script>
{{ end }}


<!-- // tocbot js invoke -->
{{ if .Site.Params.showtoc | default true }}
  {{ $headers := findRE "<h[1-6].*?>(.|\n])+?</h[1-6]>" .Content }}
  {{ $has_headers := ge (len $headers) 1 }}
  {{ if and $has_headers (ne .Params.toc false) }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tocbot/4.4.2/tocbot.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tocbot/4.4.2/tocbot.css">
    <style>.is-active-link::before { background-color: var(--secondary-color); }</style>
    {{ end }}
{{ end }}


<!-- // tobot js initialize -->
{{ if .Site.Params.showtoc | default true }}
  {{ $headers := findRE "<h[1-6].*?>(.|\n])+?</h[1-6]>" .Content }}
  {{ $has_headers := ge (len $headers) 1 }}
  <script type="text/javascript">
  {{ if and $has_headers (ne .Params.toc false) }}
    if (document.getElementById("contents-list") !== null && document.getElementsByClassName("post-content").length !== 0) { 
      tocbot.init        // Where to render the table of contents.
        tocSelector: '#contents-list',
        // Where to grab the headings to build the table of contents.
        contentSelector: '.post-content',
        // Which headings to grab inside of the contentSelector element.
        headingSelector: 'h1, h2, h3',
      });
    }
    {{ end }}
  </script>

{{ end }}


{{ if .IsPage }}
  {{ if not (eq .Params.comments false) }}
    {{ if .Site.DisqusShortname }}
      <script>
        var disqus_config = function () {
          this.page.url = '{{ .Permalink }}';
          {{ if .Params.disqusIdentifier }}
            this.page.identifier = '{{ .Params.disqusIdentifier }}';
          {{ else }}
            this.page.identifier = '{{ .RelPermalink }}'
          {{ end }}
        };
        (function() {
          // Don't ever inject Disqus on localhost--it creates unwanted
          // discussions from 'localhost:1313' on your Disqus account...
          if (window.location.hostname == "localhost") {
            return;
          }
          var d = document, s = d.createElement('script');
          var disqus_shortname = '{{ .Site.DisqusShortname }}';
          s.src = '//' + disqus_shortname + '.disqus.com/embed.js';

          s.setAttribute('data-timestamp', +new Date());
          (d.head || d.body).appendChild(s);
        })();
      </script>
    {{ end }}
  {{ end }}
{{ end }}

{{ with .Site.Params.algolia }}
  {{ if (isset . "appId") | and (isset . "apiKey") | and (isset . "indexName") }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.1/moment-with-locales.min.js" integrity="sha256-TbOIe++NbC9P3KTtUMJ5wcROlBdnRqrPleLdpPg3xxE=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/algoliasearch/3.24.5/algoliasearch.min.js" integrity="sha256-vUvLcn3X0cXhote4PNwW6d+fzjJR0hoD+yGFeVaElew=" crossorigin="anonymous"></script>
    <script>
      var algoliaClient = algoliasearch('{{ .appId }}', '{{ .apiKey }}');
      var algoliaIndex = algoliaClient.initIndex('{{ .indexName }}');
    </script>
  {{ end }}
{{ end }}
